
// product card
.product-card {
    max-width: 336px;
    width: 100%;
    padding: 60px 20px 20px 30px;
    border-radius: 10px;
    background-color: $White;
    margin-bottom: 20px;
    .product-image {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .colors {
        display: flex;
        margin-top: 23px;
        margin-bottom: 10px;
        span {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            display: block;
            &:nth-child(1) {
                background-color: #F5F4F0;
            }
            &:nth-child(2) {
                background-color: #3C3D3A;
                margin-left: 5px;
            }
            &:nth-child(3) {
                background-color: #AFBFAB;
                margin-left: 5px;
            }
            &:nth-child(4) {
                background-color: #91A6BB;
                margin-left: 5px;
            }
        }
    }
    .product-content {
        .product-title {
            font-size: 18px;
            font-family: SFPRODISPLAYREGULAR;
            color: $Black;
            margin-bottom: 10px;
        }
        .product-plans {
            margin-bottom: 20px;
            span {
                padding: 4px 10px;
                font-size: 13px;
                color: $White;
                font-family: SFPRODISPLAYBOLD;
                border-radius: 5px;
                &:nth-child(1) {
                    background-color: $LightBlue;
                }
                &:nth-child(2) {
                    background-color: $LightBlue;
                    margin-left: 5px;
                    background-color: $Red;
                }
                &:nth-child(3) {
                    background-color: $Yellow;
                    margin-left: 5px;
                }
            }
        }
        .saled-prices {
            margin-bottom: 10px;
            .old-price {
                font-size: 15px;
                font-family: SFPRODISPLAYREGULAR;
                color: $LightGrey;
                text-decoration: line-through;
            }
            .how-minus {
                background-color: #E9EDF7;
                padding: 2px 8px;
                border-radius: 50px;
                margin-left: 10px;
            }
        }
        .real-price {
            display: flex;
            align-items: center;
            .new-price {
                font-size: 28px;
                font-family: SFPRODISPLAYBOLD;
                color: $Black;
            }
            span{
                &:nth-child(2) {
                    font-family: SFPRODISPLAYREGULAR;
                    color: $Black;
                    margin-left: 33px;
                    font-size: 12px;
                }
            }
            img {
                margin-left: 5px;
            }
        }
    }
}
// product card
.title {
    font-size: 48px;
    font-family: SFPRODISPLAYBOLD;
    color: $DarkGrey;
    margin-bottom: 40px;
}
//slider
.slick-left-arrow {
    background: #00000080;
    background-blend-mode: color;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -20px;
    .a-left{

        transform: rotate(-180deg);
    }
}
.slick-right-arrow {
    background: #00000080;
    background-blend-mode: color;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -20px;
}
.slider {
    position: relative;

    .slick-left-arrow {
        background: #00000080;
        background-blend-mode: color;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -20px;
        .a-left{

            transform: rotate(-180deg);
        }
    }
    .slick-right-arrow {
        background: #00000080;
        background-blend-mode: color;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -20px;
    }
}
//slider
.brand-slider-parent {
    margin: 100px 0;
}

//brand card
.brand-card {
    padding:42px 68px;
    border-radius: 10px;
    background-color: $White;
    max-width: 336px;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 12px 0;
}
//brand card


//device-repair-banner
.device-repair {
    
}
.device-repair-banner {
    width: 100%;
    min-height: 347px;
    height: auto;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    .banner-content {
        margin-left: 89px;
        p {
            font-size: 18px;
            font-family: SFPRODISPLAYBOLD;
            color: $White;
        }
        h2 {
            margin: 10px 0 20px;
            font-family: SFPRODISPLAYBOLD;
            color: $White;
            font-size: 48px;
        }
        .banner-links {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                padding: 10px 30px;
                color: $White;
                font-family: SFPRODISPLAYREGULAR;
                font-size: 16px;
                border-radius: 100px;
                &:first-child {
                    background-color: $LightBlue;
                }
                &:last-child {
                    border:1px solid;
                    margin-left: 20px;
                }
            }
        }
    }
}
//device-repair-banner
.best-offers {
    margin-top: 100px;
}
.breadcrumb {
    margin: 30px 0;
    .to-main-page {
        color: $Black;
        font-family: SFPRODISPLAYBOLD;

    }
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
.breadcrumb-item  {
    &.active {
        color: $LightGrey;

    }
}